#login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    //margin-right: 60px; //acomodo hacia el medio 
    gap: 15px;
}
#button-container{
    display: flex;
    justify-content: space-between;
    width: 210px;
}